/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Toolbar
 */
/* line 17, ../sass/pages.scss */
#toolbar {
  box-shadow: none;
}

/*
 * Body
 */
/* line 25, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  color: #3f3f3f;
}

/* line 46, ../sass/pages.scss */
h1,
h2 {
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  color: #c61f0c;
  padding: 10px 0 0 0;
  font-size: 180%;
  font-weight: normal;
  letter-spacing: -1px;
}

h2 {
  color: #1a51a1;
  outline: 0px !important;
  border: 0px !important;
  font-size: 140%;
  font-weight: bold;
  letter-spacing: -1px;
}

h3 {
  color: #4b4a4f;
  font-size: 110%;
  letter-spacing: -1px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../sass/pages.scss */
a {
  color: #154285;
  text-decoration: underline;
}

a:visited{
  color:#595959;
}

/* line 57, ../sass/pages.scss */
a:hover, a:focus, a:active {
  color:#1e4570;
}

a:focus, input:focus, button:focus, textarea:focus, select:focus, a:active, input:active, button:active, textarea:active, select:active{
  outline:#ff8c00 solid 3px;
}

/* line 61, ../sass/pages.scss */
#page {
  margin: 0 auto;
  padding: 0 20px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 71, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 75, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 89, ../sass/pages.scss */
#header {
  overflow: hidden;
  padding: 0 0 0 0;
  text-align: center;
}

/* line 95, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  padding: 0;
}
/* line 99, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 104, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
}
/* line 108, ../sass/pages.scss */
/*
#site-name a:link,
#site-name a:visited {
  color: #3f3f3f;
}
*/

/* line 113, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 10px 0 0 0;
  font-size: 125%;
  color: #4f4f4f;
}

/* line 119, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Content
 */
/* line 127, ../sass/pages.scss */
#content {
  padding: 5px 0 40px 0;
  /*border-bottom: 1px solid #dfdfdf;*/
}

/* line 132, ../sass/pages.scss */
.region-highlighted {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* line 138, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  padding: 40px 0;
  border-bottom: 1px solid #dfdfdf;
}
/* line 141, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 145, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 158, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 163, ../sass/pages.scss */
th,
td {
  padding: 15px;
}

/* line 168, ../sass/pages.scss */
tr.even,
tr.odd {
  background-color: #f8f8f8;
  border-bottom: 1px solid #dfdfdf;
}

/* line 173, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
  padding: 3px 3px 3px 59px;
  color: #3f3f3f;
  border: none;
  background: #75d675 url(../images/icon-tick.png) no-repeat 23px center;
}
/* line 180, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 187, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  border-color: #e9c75f;
}

/* line 192, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
  border-color: #e56464;
}

/* line 196, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  color: #3f3f3f;
}

/* line 200, ../sass/pages.scss */
div.warning {
  background: #e9c75f url(../images/icon-warning.png) no-repeat 23px center;
}

/* line 204, ../sass/pages.scss */
div.error {
  background: #e56464 url(../images/icon-cross.png) no-repeat 23px center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 209, ../sass/pages.scss */
  div.messages {
    background-image: url(../images/icon-tick-2x.png);
    background-size: 16px 16px;
  }

  /* line 213, ../sass/pages.scss */
  div.warning {
    background-image: url(../images/icon-warning-2x.png);
    background-size: 16px 16px;
  }

  /* line 217, ../sass/pages.scss */
  div.error {
    background-image: url(../images/icon-cross-2x.png);
    background-size: 16px 16px;
  }
}
/* line 223, ../sass/pages.scss */
.messages-inner {
  padding: 15px 20px;
  background: #fff;
}

/* line 229, ../sass/pages.scss */
div.status,
.ok {
  color: #3f3f3f;
}

/* line 233, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 237, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 244, ../sass/pages.scss */
.node ul.inline {
  display: block;
  margin: 20px 0 0 0;
}

/* line 249, ../sass/pages.scss */
ul.action-links li {
  margin: 0 1em 0 0;
}

/* line 253, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 257, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 260, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/*
 * Footer
 */
/* line 269, ../sass/pages.scss */
#footer {
  padding: 40px 0;
}

/*
 * Page bottom
 */
/* line 277, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  padding: 40px 0;
  border-top: 1px solid #dfdfdf;
}

/*
 * Feed icon
 */
/* line 286, ../sass/pages.scss */
.feed-icon {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/icon-rss.png) no-repeat center center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 294, ../sass/pages.scss */
  .feed-icon {
    background-image: url(../images/icon-rss-2x.png);
    background-size: 16px 16px;
  }
}
/* line 300, ../sass/pages.scss */
.feed-icon img {
  display: none;
}

/*
 * User
 */
/* line 308, ../sass/pages.scss */
.profile .user-picture {
  float: none;
}

/* line 312, ../sass/pages.scss */
.profile h3 {
  border-bottom: 1px solid #dfdfdf;
}

/* line 316, ../sass/pages.scss */
.user-signature {
  color: #8f8f8f;
}

/*
 * Forums
 */
/* line 324, ../sass/pages.scss */
#forum table {
  width: 100%;
}

/* line 328, ../sass/pages.scss */
#forum td.forum .icon {
  display: none;
}

/*
 * Poll
 */
/* line 336, ../sass/pages.scss */
#block-poll-recent .poll .title {
  margin: 1.5em 0 1em 0;
}

/* line 340, ../sass/pages.scss */
.poll .bar .foreground {
  background-color: #3f3f3f;
}

/*
 * Book
 */
/* line 348, ../sass/pages.scss */
.book-navigation .menu {
  padding: 1.5em 0 0 3em;
  border-top: 1px solid #dfdfdf;
}

/* line 353, ../sass/pages.scss */
.book-navigation .page-links {
  padding: 1.5em 0;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}

/*
 * Search
 */
/* line 363, ../sass/pages.scss */
.search-form {
  margin-top: 1.5em;
}

/* line 368, ../sass/pages.scss */
.search-form input[type="submit"],
#search-block-form input[type="submit"] {
  margin: 10px 0;
}

/* line 372, ../sass/pages.scss */
.search-results {
  padding: 0;
}

/* line 376, ../sass/pages.scss */
.search-results li {
  margin-bottom: 0;
  padding: 2em 0 0.5em 0;
  border-top: 1px solid #dfdfdf;
}

/* line 383, ../sass/pages.scss */
.search-results .title,
.search-results .search-info {
  font-size: 100%;
}

/* line 387, ../sass/pages.scss */
.search-results .search-snippet-info {
  padding: 10px 0 0;
}

/* line 391, ../sass/pages.scss */
.search-results .search-info {
  color: #8f8f8f;
}

/*
 * Settings
 */
/* line 399, ../sass/pages.scss */
#edit-neptune-layout .form-item {
  display: inline-block;
  margin: 10px 40px 0 0;
}

/* line 404, ../sass/pages.scss */
#edit-neptune-layout label {
  display: inline-block;
  padding: 0 0 90px 0;
  background: url(../images/layout-single.png) no-repeat left bottom;
}

/* line 410, ../sass/pages.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-1] {
  background-image: url(../images/layout-rside.png);
}

/* line 414, ../sass/pages.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-2] {
  background-image: url(../images/layout-lside.png);
}

/*
 * normalize.css specific overrides
 *
 * Adding changes here, as opposed to in normalize.css, allows
 * normalize.css to be easily updated or swapped if necessary.
 */
/* line 428, ../sass/pages.scss */
button,
input,
select,
textarea {
  color: #3f3f3f;
}

select {
  margin: 0 0 0 30px;
}

/* line 435, ../sass/pages.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  color: #fff;
  margin: 0 5px 0 0;
  padding: 6px 12px;
  /*border-radius: 4px;*/
  border: none;
  background: #c61f0c;
  color: #fff;
  font-weight: bold;
  height: 38px;
}

/* line 448, ../sass/pages.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #c61f0c;
}

/* line 455, ../sass/pages.scss */
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #c61f0c;
}

/* line 459, ../sass/pages.scss */
fieldset {
  margin: 20px 2px;
  border-color: #dfdfdf;
}

/* line 464, ../sass/pages.scss */
fieldset legend {
  font-weight: bold;
}

/* line 468, ../sass/pages.scss */
input.form-text {
  /* Make text fields responsive */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/****
USAgov skip link
****/

#skip-link {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#skip-link p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#skip-link a, #skip-link a:link, #skip-link a:visited {
    display: block;
    left: -10000px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    background-position: initial initial;
    background-repeat: initial initial;
    border-bottom-color: #CCC;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 25px 25px 25px 25px;
    text-align: center;
    text-decoration: underline;
    font-size: 210%;
    color: #FFF;
    background-color: #A50000;
}



/****
USAgov header and search
****/
/* line 482, ../sass/pages.scss */
#header {
    background: #fff;
    position: relative;
}
  
#header a {
    display: inline-block;
    width: 380px;
}
  
/* styles added for usa.gov search */
    div.searchbkgnd {
    height: 74px;
    background: #373737;
    padding: 20px 20px 10px 20px;
    border-top: 1px solid #fff;
    margin-top: 30px;
}

div.searchttl {
    margin: 0 0 0 0;
    float: left;
}

div.searchttl p {
    font-size: 130%;
    font-weight: normal;
    margin: 5px 20px 10px 0;
    padding: 0 0 0 0;
    color: #fff;
}

div.searchttl p label {
    font-weight: normal;
}

#search button {
    display: block;
    border: 0;
    margin: 0 0 0 0;
    padding: 7px 0 10px 0;
    font-size: 110%;
    font-weight: bold;
    line-height: 20px;
    background: #1b50a0;
    color: #fff;
    width: 130px;
    float: left;
    height: 38px;
}


#search input[type="text"] {
    width: 570px;
}


#search input[type="text"] {
    display: block;
    float: left;
    /*width: 790px;*/
    border: 0;
    margin: 0 0 0 0;
    padding: 10px 10px 7px 10px;
    font-size: 100%;
    line-height: 20px;
    /*height: 40px;*/
}

.bylntxt{
    font-weight: bold;
}

#pipe {
	border-style: solid;
	border-width: 1px 0;
	border-color: #d4d4d4;
	padding: 5px 0 5px 0;
	margin: 0 0 15px 0;
}
#content .pipe {
	padding: 5px 0 5px 0;
}

/*#pipe ul li:first-child, #content .pipe ul li:first-child */
.line:first-child{
	border-left:none;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	display: inline-block;
}


/* style for usa.gov left nav */
.leftnav {
    background: #fff;
    padding: 17px 0 0 0;
    margin: 0 0 0 0;
}

.shade {
    background: #ebe6de;
    padding: 1px 0 5px 0;
}

.shade header h2 {
    background: #fff;
    font-size: 115%;
    margin: 3px auto 0 auto;
    padding: 20px 10px 20px 20px;
    color: #1a51a1;
    font-weight: bold;
}

.noshade {
    background: #fff;
    padding: 1px 0 5px 0;
}

.noshade header h2 {
    background: #fff;
    font-size: 115%;
    margin: 3px auto 0 auto;
    padding: 20px 10px 20px 20px;
    color: #1a51a1;
    font-weight: bold;
}

header h2 {
    color: #1a51a1;
    outline: 0px !important;
    border: 0px !important;
    font-size: 115%;
    font-weight: bold;
}

.shade p{
    display: inline-block;
    padding: 0 10px 0 25px;
}


#content ul li, #content ol li {
    line-height: 20px;
    clear: both;
}

#content ul li.featurebdr, #content ol li.featurebdr {
    clear: both;
    padding: 10px 18px 10px 0px;
    border-bottom: 1px dotted #1a51a1;
    min-height: 165px;
    list-style-type: none;
    overflow: hidden;
}

#content ul li.featurebdr:last-child, #content ol li.featurebdr:last-child {
    border-bottom: none;
} 

ul.smmrylst {
    padding: 0 0 0 0
}

.smmrylst .rel-img img {
    max-width: 235px;
}
.field-type-image img {
	width:100%;
    max-width: 650px;
}
.byline {
    float: left;
    padding: 0 10px 0 0;
    border-right: 1px solid #000;
    margin-right: 0;
}

.bylinetxt {
    font-weight:bold;
}

h2.featurehdr {
    color: #154285;
    outline: 0px !important;
    border: 0px !important;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 0 0;
 
}

h2.featurehdr a {
    color: #154285;
    text-decoration: none;
}

h2.featurehdr a:hover {
    color: #154285;
    text-decoration: underline;
}

h3.featurehdr a {
       color: #154285;
    text-decoration: none;
}

.shade ul li {
    list-style-type: none;
    padding: 0 0 0 0;
    background: #ebe6de;
}

.shade ul li a {
    padding: 10px 10px 10px 0;
    line-height: 18px;
    margin: 0 0 0 0;
    display: block;
}

/***********************
Back to Top
***********************/

.volver{
  padding:10px 0 5px 0;
  text-align:right;
}
.volver a{
  display:inline-block;
  padding:0 0 4px 0;
  text-decoration:none;
}
.volver a:hover, a:focus, a:active{
  text-decoration:underline;
}

.icon-backtotopHP {
    background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Back_to_top.png");
    background-size: initial;
    background-position: right;
    padding: 0 30px 0 0;
    height: 25px;
    line-height: 25px;
    display: block;
}


 /***********************
Social Media
***********************/
 .sclmedia{
	width: 100%;
	background-color: #ebe6de;
	height: 100px;
 }
 .sclmedia .container {
	max-width: 900px;
}

 .sclmedia h2{
	margin: 0 0 10px 0;
	color: #242426;
	font-weight: normal;
}

  .sclmedia ul {
  	min-height: 78px;
	margin: 0 0 40px 0;
	padding: 0 0 0 0;
	width: 100%;
}

 .sclmedia ul li{
	margin: 0 100px 0 0;
	padding: 0 0 0 0;
	list-style-type: none;
	display: inline-flex;
}

 .sclmedia ul li a{
	margin: 3px 0 0 0;
}

  .sclfcbk {
  	background: url('https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Facebook.png') 28px 5px;
  	background-repeat: no-repeat;
	background-size: 22px;
	background-color: #3B5998;
}

  a.sclfcbk{
  	display: block;
	width: 78px;
	padding: 0 0 0 78px;
	text-decoration: none;
	float: left;
}

   a.sclfcbk span{
   	display: block;
   	width: 78px;
  	padding: 7px 0 7px 0;
	text-align: center;
	background-color: #fff;
}

  a:hover.sclfcbk span {
	background-color: #1c2f59;
	color: #fff;
}

   .scltwttr {
  	background: url('https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Twitter.png') 28px 5px;
  	background-repeat: no-repeat;
	background-size: 25px;
	background-color: #00ABF0;
}

  a.scltwttr{
  	display: block;
	width: 78px;
	padding: 0 0 0 78px;
	text-decoration: none;
	float: left;
}

   a.scltwttr span{
   	display: block;
   	width: 78px;
  	padding: 7px 0 7px 0;
	text-align: center;
	background-color: #fff;
}

  a:hover.scltwttr span {
	background-color: #00709a;
	color: #fff;
}
  
    .spcing{
        padding: 0 0 0 20px;
}  

/***********************
Footer
***********************/
    
     #footer{
  background: #4b4b4d;
  color: #fff;
}

#footer h2 {
    font-size: 140%;
    font-weight: normal;
    padding: 0 0 0 30px;
    color: #fff;
}

 #footer ul{
  margin: 0 0 0 0;
  padding: 0 0 20px 30px;
 }

 #footer ul li, .headercontact ul li{
  list-style-type: none;
 }

 #footer a{
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
 }
 #footer span.icon-phone, #header span.icon-phone {
  white-space: normal;
  line-height: normal;
  height: 27px;
 }

 /*span.icon-phone.spcng {
  line-height: 20px;
 }*/

 #footer a:visited, .headercontact a {
 	color:#e8e8e8;
 }

 #footer a:hover, #footer a:focus, #footer a:active,
 #footer a:hover span, #footer a:focus span, #footer a:active span,
 .headercontact a:hover span, .headercontact a:focus span, .headercontact a:active span{
  color: #fff;
  text-decoration: underline;
 }
 
 #footer div.footernav h2 {
    padding: 0 0 0 30px;
  }

 #footer div.footernav ul {
    padding: 0 0 20px 30px;
  }

  #footer div.footernav ul li{
    float: none;
    width: 100%;
    padding: 0 0 10px 0;
	line-height: 17px;
  }

  div.footercontact ul li{
    margin: 0 0 10px 0;
  }

  div.footerconnected ul li{
    float: left;
    width: 100%;
    margin: 0 0 8px 0;
  }

  div.footerconnected a{
    display: block;
  }
  
  .footerconnected [class^="icon-"], .footerconnected [class*=" icon-"] {
    padding: 0 0 0 40px;
}

[class^="icon-"], [class*=" icon-"] {
    position: relative;
    background-repeat: no-repeat;
}
  
.ftr-cntntmddl [class^="icon-"], .ftr-cntntmddl [class*=" icon-"],
.headercontact [class^="icon-"], .headercontact [class*=" icon-"]  {
	background-position: left;
	display: block;
	line-height: 30px;
}
  
.icon-facebook {
	background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Facebook.png");
}
.icon-googleplus {
	background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Google.png");
}
.icon-twitter {
	background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Twitter.png");
}
.icon-youtube {
	background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Youtube.png");
}
.icon-tumblr {
	background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Tumblr.png");
}
.icon-rss {
	background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_RSS.png");
}
.icon-connect {
	background-image: url("https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Email.png");
}

 .footertagline{
    background: #000;
    clear:both;
  }

/***********************
Pagination
***********************/
#content ul.pagination{
  padding:0 0 0 0;
  position: relative;
  display:flex;
  justify-content: center;
  margin: 0 0 30px 0;
}
#content ul.pagination li {
    display: block;
    width: 40px;
    height: 38px;
    float: left;
    margin: 5px 5px 5px 5px;
    text-align: center;
    line-height: 33px;
    padding: 0 0 0 0;
}
#content ul.pagination li.previous,
#content ul.pagination li.next {
   width:auto;
   margin: 5px 5px 5px 5px;
   display: inline-block;
}
#content ul.pagination li.previous a,
#content ul.pagination li.next a {
  padding: 0 15px 0 15px;
  border:2px solid #c61f0c;
  background:#c61f0c;
  font-weight: bold;
}

#content ul.pagination li.previous a:hover,
#content ul.pagination li.next a:hover {
  color:#fff;
  background:c61f0c;
  font-weight: bold;
  padding: 0 15px 0 15px;
  border:2px solid #c61f0c;
}

.pagination li.current, .pagination li a:hover {
  background: white;
  border: 2px solid #1b50a0;
  color:#1b50a0;
  font-weight: bold;
  padding: 0px 5px;
}
.pagination li a {
  color: white;
  background: #1b50a0;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration:none;
  font-weight: bold;
}

#content ul.pagination li.pager-ellipsis {
  width: 20px;
  line-height: 60px;
}

#content ul.pagination li.pager-dscrpt {
  display: none;
}

@media (max-width: 1200px) {
  #search input[type="text"] {
    width: 54%;
  }
  
}
 
 
@media (max-width: 992px) {
    #search input[type="text"] {
    width: 54%;
  }
  
  #search button {
    width: 16%;
  }
 
}

@media (max-width: 991px) {

  h1 {
	   font-size: 150%;
	}
	
  h2 {
    font-size: 130%;
  }
  
  .volver {
        text-align: center;
  }
}


/*
 * Media queries
 */
 
@media all and (min-width: 768px) {

  /* line 478, ../sass/pages.scss */
  body:after {
    /* Used by script.js to determine breakpoint */
    content: 'minw768';
    opacity: 0;
  }

  /* line 482, ../sass/pages.scss */
 #header {
    padding: 20px 0 0px 0;
  }
  
  /* line 485, ../sass/pages.scss */
  #content {
    padding: 25px 0 40px 0;
  }

  /* line 488, ../sass/pages.scss */
  .submitted .permalink {
    float: right;
  }
    
  /* Layout for when both sidebars are present.
     If just one sidebar is present it will fill 100% of the width. */
  /* line 493, ../sass/pages.scss */
  .two-sidebars .sidebars .sidebar {
    width: 40%;
    float: left;
    padding-right: 10%;
  }

  /* Multi-column layout. */
  /* line 500, ../sass/pages.scss */
  .multi-column.two-sidebars #content,
  .multi-column.one-sidebar #content {
    width: 64%;
    float: left;
  }

  /* line 505, ../sass/pages.scss */
  .sidebar-left.two-sidebars #content,
  .sidebar-left.one-sidebar #content {
    float: right;
  }

  /* line 508, ../sass/pages.scss */
  .multi-column .sidebars {
    width: 30%;
    float: right;
    padding: 25px 0 0 0;
  }

  /* line 513, ../sass/pages.scss */
  .sidebar-left .sidebars {
    float: left;
  }

  /* line 516, ../sass/pages.scss */
  .multi-column.two-sidebars .sidebars .sidebar {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  /* line 523, ../sass/pages.scss */
  .multi-column .breadcrumb,
  .multi-column #footer,
  .multi-column .region-bottom {
    clear: both;
  }
}

@media all and (max-width: 768px) {

#search input[type="text"] {
    width: 74%;
  }
  
  #search button {
    width: 16%;
    }
    
    div.searchbkgnd {
    height: 133px;
    }
 }
 
 
 @media all and (max-width: 600px) {

  #content ul.pagination li.pager-ellipsis, #content ul.pagination li.current, #content ul.pagination li.pager-item {
    display: none;
  }

  #content ul.pagination li.previous a, #content ul.pagination li.next a {
    padding: 0 6px 0 6px;
  }

  #content ul.pagination li.previous a:hover, #content ul.pagination li.next a:hover {
	padding: 0 6px 0 6px;
  }

  #content ul.pagination li.pager-dscrpt {
    display: inline;
    margin: 0 -3px 0 -3px;
    font-size: 99%;
  }

  #content ul.pagination {
    display: block;
  }

  #content ul.pagination li {
    float: none;
  }
}

@media all and (max-width: 480px) {

	#logo img {
	    width: 80px;
	}

    #header a {
    display: inline-block;
    width: auto;
    }

    #search input[type="text"] {
    width: 70%;
    }
    
    div.searchbkgnd {
    height: 134px;
    }
    
    #search button {
    width: 25%;
    }
    
    #footer a {
    white-space: normal;
    }
    
    .sclmedia {
    height: 140px;
    }
    
    .sclmedia ul li {
    margin: 0px 100px 10px 0;
    display: table;
    }
    .smmrylst .rel-img img {
      max-width: 100%;
    }
}

@media all and (max-width: 320px) {
    #header {
    height: 237px;
    }
    
    #search input[type="text"] {
    width: 70%;
    }
    
    div.searchbkgnd {
    height: 157px;
    }
    
    #search button {
    width: 29%;
    }
}